{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead></thead>
        <tbody>
        {% for user in model.users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ model.orderSize(user) }}</td>
                <td>
                    <table>
                        <tbody>
                        {% for order in model.orders(user) %}
                            <tr>
                                <td>{{ order.date|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for dish in model.dishes %}
        <li>{{ dish.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %} Customer list{% endblock %}

